nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px black;

background-color: rgb(206, 202, 202);

    /* border: 2px solid blue; */
}
.profile{
    /* border: 2px solid red; */
    width: 10%;
}
nav input{
    width:  40%;
    height: 70%;

} 