.App{
  height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  
}
.paginations{
  width: 100%;
height: 10%;
background-color: rgb(173, 171, 171);

padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
.paginations button{
  padding: 5px 10px;
  margin: 0.5rem;
  cursor: pointer;
  color: black;
}
.active{
  background-color:white;
  color: #08414a;
  border-radius: 50px;
  font-size: 1.3rem;
  border:none;
  border: 2px solid white;

}
.numbers {
  padding: 5px 10px;
  margin: 0.5rem;
  background-color: transparent;
  color: white;
  border:none;
  border-radius: 50px;
  font-size: 1.2rem;

}
